[submodule "tfg-elastest-sut-front"]
	path = tfg-elastest-sut-front
	url = https://github.com/DavidCorreas/tfg-elastest-sut-front.git
[submodule "tfg-elastest-sut-back"]
	path = tfg-elastest-sut-back
	url = https://github.com/DavidCorreas/tfg-elastest-sut-back.git
[submodule "tfg-elastest-sut-cordova_app"]
	path = tfg-elastest-sut-cordova_app
	url = https://github.com/DavidCorreas/tfg-elastest-sut-cordova_app.git
	branch = no-emulator
